<div class="text-center">
<h3 class="text-success"><em><small class="text-success">my</small></em>Tasks</h3>
<hr>
<div class="table-responsive">
<table class="table-striped text-left">
 
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td id="first"><h4><%= link_to raw("<i class=\"fa fa-times\" aria-hidden=\"true\"></i>"), task, method: :delete, data: { confirm: 'Delete this task?' }, class: "btn btn-default btn-sm" %></h4></td>
        <td><h4><%= task.task %></h4></td>
        <td id="end"><h4><%= link_to '', task, class: "fa fa-info-circle" %></h4></td>
        <td id="end"><h4><%= link_to '', edit_task_path(task), class: "fa fa-pencil-square-o" %></h4></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Task', new_task_path %>
</div>