<div class="text-center">

<h1><%= @task.task %></h1>

<p>
 <em><%= @task.details %></em>
</p>

<p>
	<%= @task.created_at.strftime('%b %-d %Y') %>
</p>
<hr>
<%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-warning btn-sm' %>
<%= link_to 'List', tasks_path, class: 'btn btn-success btn-sm' %> | 
<%= link_to 'Delete', @task, method: :delete, data: { confirm: 'Delete this task?' }, class: 'btn btn-danger btn-sm' %>

</div>